
$vert: #96B011;




// Font size
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

// Breakpoints for responsive
$breakpoint-small: 500px;
$breakpoint-medium: 780px;
$breakpoint-large: 1024px;


// Font family

$font-family-title: 'Amaranth', sans-serif;
$font-family-text: 'Open Sans', Arial, sans-serif;
//$font-family-label: ;
//$font-family-namesite: ;
//$font-family-quotes: ;


// Colors
$color-text: #666;
//$color-text-alt : #;
$color-button: #B09067;
$color-bg-first: #F2F2F2;
$color-bg-second: #EAEFCF;
$bg-promo: rgba(0, 0, 0, 0.1);
$hover: rgba(176, 144, 103, 0.75);
//$color-footer: #;
//$color-white: #;
//$color-light-text: #;


// Icons
$fa-font-path: "~font-awesome/fonts";

